---
layout: default
permalink: /
header: Software development company experienced in building web and mobile products, ranging from startups to high load platforms with tenth of millions of active users.
subheader: <p class="header__subtitle">Our domain expertise includes building online marketplaces, travel & accommodation services, social and data products.</p><p class="header__subtitle">Started Rebbix Labs where we are working on our own ideas and experiments, finding the way to build products better and faster.</p><p class="header__subtitle">Rebbix was founded with a strong belief that a small and agile company of top technologists <em>will build products better</em>.</p>
---
<div class="content">
  {% for item in site.work reversed %}
  {% include card.html item=item %}
  {% endfor %}
</div>
