<div class="card card_{{ item.type }}{% if item.position %} card_person{% endif %}{% if item.text %} card_overlay{% endif %}{% if item.offset %} card_offset-{{ item.offset }}{% endif %}{% if item.width %} card_width-{{ item.width }}{% endif %}" data-year="{{ item.date | date: "%Y" }}">
  <div class="card__wrap">
    {% if item.background_image %}
      <img class="card__photo" src="{{ item.background_image }}" />
    {% endif %}

    {% if item.text %}
      <div class="card__overlay-text">{{ item.text }}</div>
    {% endif %}

    {% unless item.type == 'wide' %}
    <div class="card__person_info">
      {% if item.name %}
        <div class="card__name">{{ item.name }}</div>
      {% endif %}
      {% if item.position %}
        <div class="card__position">{{ item.position }}</div>
      {% endif %}
      {% if item.label %}
        <div class="card__label">{{ item.label }}</div>
      {% endif %}

      {% if item.link_linkedin %}
        <div class="card__socials">
          <a class="card__link card__link_linkedin" href="{{ item.link_linkedin }}" target="_blank"></a>
        </div>
      {% endif %}
    </div>
    {% endunless %}
  </div>
</div>
