<div class="card card_person card_{{ item.type }} {% if item.offset %} card_offset-{{ item.offset }}{% endif %}{% if item.offset-top %} card_offset-top-{{ item.offset-top }}{% endif %}{% if item.width %} card_width-{{ item.width }}{% endif %}" data-year="{{ item.date | date: "%Y" }}">
  {% if item.link %}
    <a class="card__wrap card__wrap_person" href="{{ item.link }}" target="_blank">
  {% else %}
    <div class="card__wrap card__wrap_person">
  {% endif %}

    {% if item.image %}
      <img class="card__photo" src="{{ item.image }}" />
    {% endif %}

    {% if item.name %}
      <div class="card__name">{{ item.name }}</div>
    {% endif %}

    {{ item.content }}

    {% unless item.type == 'separator' %}
      <div class="card__label">Joined {{ item.date | date: '%B %Y' }}</div>
    {% endunless %}

  {% if item.link %}
    </a>
  {% else %}
    </div>
  {% endif %}
</div>
