<div class="card card_work card_{{ item.type }}{% if item.offset %} card_offset-{{ item.offset }}{% endif %}{% if item.offset-top %} card_offset-top-{{ item.offset-top }}{% endif %}{% if item.width %} card_width-{{ item.width }}{% endif %}" data-year="{{ item.date | date: "%Y" }}">
  <div class="card__wrap"{% if item.style %} style="{{ item.style }}"{% endif %} data-shadowcolor="{{ item.shadow_color }}" >
    {% if item.top_image %}
      <img class="card__top_image" src="{{ item.top_image }}"/>
    {% endif %}
    <div class="card__content">
      {% if item.image %}
        <img class="card__img" src="{{item.image}}" {% if item.image_style %} {{ item.image_style }}{% endif %} />
      {% endif %}
      {% if item.image2 %}
        <img class="card__img" src="{{item.image2}}" />
      {% endif %}

      {{ item.content }}

      {% unless item.type == 'separator' %}
        <div class="card__label">{{ item.date | date: '%B %Y' }}</div>
      {% endunless %}
    </div>
    {% if item.bottom_image %}
      <img class="card__bottom_image" src="{{ item.bottom_image }}" />
    {% endif %}
  </div>
</div>
