{% if item.video %}  
<div class="card card_embed" data-videoembed="{{ item.video }}" data-year="{{ item.date | date: "%Y" }}">
    <div class="card__wrap">
        <div class="card__label">{{ item.date | date: "%B, %Y" }}</div>
        <div class="card__content">
            <div class="card__spinner"></div>
        </div>
    </div>
</div>
{% else %}
<div class="card card_embed" data-year="{{ item.date | date: "%Y" }}">
    <div class="card_wrap">
        <div class="card__label">{{ item.date | date: "%B, %Y" }}</div>
        <div class="card__content">
            <a href="{{ item.link }}" target="_blank">
                <img class="card__img" src="{{ item.img | prepend:site.baseurl }}"{% if item.image2x %} srcset="{{item.image2x}}" {% endif %} />
            </a>
        </div>
    </div>
</div>
{% endif %}