<div class="card card_{{ item.type }}{% if item.embed %} card_embed-{{ item.embed }}{% endif %}{% if item.bottom_image %} card_heavy{% endif %}{% if item.offset %} card_offset-{{ item.offset }}{% endif %}{% if item.offset-top %} card_offset-top-{{ item.offset-top }}{% endif %}{% if item.width %} card_width-{{ item.width }}{% endif %}" data-year="{{ item.date | date: "%Y" }}" data-embed-url="{{item.embed_url}}" data-embed-width="{{item.embed_width}}" data-embed-height="{{item.embed_height}}">
  <div class="card__wrap" style="
      {% if item.background_color %} background-color:{{ item.background_color }}; {% endif %}
      {% if item.font_color %}       color:{{ item.font_color }};                  {% endif %}
      {% if item.border %}           border:{{ item.border }};                     {% endif %}
      {% if item.embed_height %}     height:{{ item.embed_height }}px;             {% endif %}
      {% if item.embed_width %}      width:{{ item.embed_eidth }}px;               {% endif %}
      ">
    {% if item.top_image %}
      <img class="card__top_image" src="{{ item.top_image }}" />
    {% endif %}
    {% if item.avatar %}
      <img class="card__avatar" src="{{ item.avatar }}"/>
    {% endif %}
    <div class="card__content">
      {% if item.image %}
        <img class="card__img" src="{{item.image}}"{% if item.image2x %} srcset="{{item.image2x}}" {% endif %} />
      {% endif %}
      {{ item.content }}

      {% unless item.type == 'separator' %}
        <div class="card__label">{{ item.date | date: '%B %Y' }}</div>
      {% endunless %}
    </div>
    <div class="l">
      {% if item.bottom_image %}
        <img class="card__bottom_image" src="{{ item.bottom_image }}" />
      {% endif %}
    </div>
  </div>
</div>
