<footer class="footer">
  Rebbix 2017
</footer>

<script>
  (function() {
    var links = document.querySelectorAll('.header__nav-item');
    var prevSelected = document.querySelector('.header__nav-item_active');

    function clear() {
      [].forEach.call(links, function(link) {
        link.classList.remove('header__nav-item_active');
      });
    }

    function selectLink(event) {
      clear();
      event.target.classList.add('header__nav-item_active');
    }

    function selectDefault() {
      clear();
      if (prevSelected) {
        prevSelected.classList.add('header__nav-item_active');
      }
    }

    [].forEach.call(links, function(link) {
      link.addEventListener('click', selectLink);
      link.addEventListener('mouseenter', selectLink);
      link.addEventListener('mouseleave', selectDefault)
    })
  })();
</script>

<script src={{ "/js/marker.js" | prepend: site.baseurl }}></script>
<script src={{ "/js/animate.js" | prepend: site.baseurl }}></script>
<script src={{ "/js/hover.js" | prepend: site.baseurl }}></script>
<script src={{ "/js/scroll.js" | prepend: site.baseurl }}></script>
<script src={{ "/js/parallax.js" | prepend: site.baseurl }}></script>
<script src={{ "/js/embed.js" | prepend: site.baseurl }}></script>
<script src={{ "/js/lazyImageLoading.js" | prepend: site.baseurl }}></script>
<script src={{ "/js/main.js" | prepend: site.baseurl }}></script>

<script src={{ "/js/vendor/smoothscroll.min.js" | prepend: site.baseurl }} async></script>