<header class="header">
  <nav class="header__nav"><!-- ontouchstart is a hack to apply :focus and: active pseudo-classes on mobile safari-->
    <a href="{{'/' | prepend:site.baseurl }}" class="header__nav-item{% if page.url == '/' %} header__nav-item_current-page header__nav-item_active {% endif %}" ontouchstart="">Work</a><!--
  --><a href="{{ '/team' | prepend:site.baseurl }}" class="header__nav-item{% if page.url == '/team' %} header__nav-item_current-page header__nav-item_active {% endif %}" ontouchstart="">Team</a><!--
  --><a href="{{ '/life' | prepend:site.baseurl }}" class="header__nav-item{% if page.url == '/life' %} header__nav-item_current-page header__nav-item_active {% endif %}" ontouchstart="">Life</a><!--
  --><a href="{{ '/contacts' | prepend:site.baseurl }}" class="header__nav-item{% if page.url == '/contacts' %} header__nav-item_current-page header__nav-item_active {% endif %}" ontouchstart="">Contacts</a>
  </nav>
  <div class="header__wrap">
    <div href="{{ '/' | prepend:site.baseurl }}" class="header__logo-wrapper">
      <div class="header__logo-bg" id="headerLogo">
        <img class="header__logo" src="{{ '/img/logo_bb.svg' | prepend:site.baseurl }}"/>
      </div>
    </div>
    {% if page.header %}
      <h1
        class="title"
        {% if page.permalink != '/team' %}
          data-year="{{ site.time | date: '%Y' }}"
        {% endif %}
      >{{ page.header }}</h1>
    {% endif %}
    {% if page.subheader %}
      {{ page.subheader }}
    {% endif %}
    {% if page.url == '/' %}
      <div class="header__scroll-hint" id="headerScrollHint">Scroll</div>
    {% endif %}
  </div>
</header>
