<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="title" content="{{ page.title }}"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
  <link rel="icon" href="{{ '/img/favicon.ico' | prepend:site.baseurl }}"/>

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.og_description }}">
  <meta property="og:image" content="{{ page.og_image | prepend: site.url }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="stylesheet" href="https://use.typekit.net/cwh6elx.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41381086-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-41381086-1');
  </script>

  <link rel="preload" as="script" href={{ "/js/animate.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/marker.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/sticky.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/hover.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/main.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/scroll.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/embed.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/parallax.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/lazyImageLoading.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/vendor/smoothscroll.min.js" | prepend: site.baseurl }} />

  <!-- Preload script for contacts page -->
  <link rel="preload" as="script" href={{ "/js/contacts.js" | prepend: site.baseurl }} />
</head>
