<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
  <link rel="icon" href="{{ '/img/favicon.ico' | prepend:site.baseurl }}"/>

  <meta property="og:title" content="TODO">
  <meta property="og:description" content="TODO.">
  <meta property="og:image" content="http://TODO">
  <meta property="og:url" content="http://TODO">
  <meta name="twitter:card" content="summary_large_image">

  <script src="https://use.typekit.net/cwh6elx.js" async></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>

  <link rel="preload" as="script" href={{ "/js/animate.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/marker.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/hover.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/main.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/scroll.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/embed.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/parallax.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/lazyImageLoading.js" | prepend: site.baseurl }} />
  <link rel="preload" as="script" href={{ "/js/vendor/smoothscroll.min.js" | prepend: site.baseurl }} />

  <!-- Preload script for contacts page -->
  <link rel="preload" as="script" href={{ "/js/contacts.js" | prepend: site.baseurl }} />
</head>
