@import './_mixin';

body {
  margin: 0;
  font: 400 16px/1.5 "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  padding: 0 120px;

  @media (max-width: $mobile_break_point) {
    padding: 0 7% 0 8%;
  }
}

.title,
.title__link {
  $font-size: 44;
  $line-height: 53;

  margin: 0 0 10px;
  letter-spacing: -.17px;
  line-height: #{$line-height}px;
  font-size: #{$font-size}px;
  font-weight: 300;
  font-family: acumin-pro-wide, Arial, Helvetica, sans-serif;
  color: #111;
  text-decoration: none;

  &_content {
    clear: both;
    margin-top: 50px;
  }

  @media (max-width: $responsive_break_point) {
    font-size: #{$font-size * 100 / $responsive_width}vw;
    line-height: #{$line-height * 100 / $responsive_width}vw;
  }

  @media (max-width: $mobile_break_point) {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -.13px;
  }
}

.title__link {
  word-break: break-all;
}

.link {
  color: #85BC49;
  text-decoration: none;

  &_map-link {
    display: inline-block;
    margin-top: 10px;
  }
}

.footer {
  clear: both;
  margin: 250px auto 20px;
  text-align: center;
  font-size: 13px;
  color: #7E7E7E;
  letter-spacing: -0.11px;
  line-height: 45px;

  @media #{$mobile} {
    margin: 0 auto 20px;
  }
}

.no-user-select {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.scroll {
  $bar-width: 0.7vw;

  &__bar {
    min-width: 8px;
    width: $bar-width;
    max-width: 14px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    background-color: transparent;
    user-select: none !important;
    transition: background-color .3s;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &__thumb {
    min-width: 8px;
    width: $bar-width;
    max-width: 14px;
    border-radius: $bar-width / 2;
    position: absolute;
    right: 0;
    z-index: 10000;
    background-color: #ddd;
    transition: background-color .3s;

    &:hover,
    &_active {
      background-color: #666;
    }
  }

  @media (max-width: $mobile_break_point) {
    &__bar {
      display: none;
    }
  }
}

.footer {
  height: 80px;
  background: url('/img/bb-footer.svg') no-repeat center center;
}