$mobile_break_point : 768px;
.card {
  &__wrap {
    background-size: cover;
  }

  &_left,
  &_right,
  &_card-left,
  &_card-right {
    max-width: 1140px;
    padding: 100px 120px 0 120px;
    margin: 0 auto;

    @media (max-width: $mobile_break_point) {
      padding: 0 22px;
      max-width: 100%;
      margin: 20px auto;
    }
  }

  &_left &__wrap,
  &_right &__wrap {
    margin-bottom: 100px;

    @media (max-width: $mobile_break_point) {
      margin-bottom: 22px;
    }   
  }

  &_card-left &__wrap,
  &_card-right &__wrap {
    margin-bottom: 100px;
    padding: 40px 100px 40px 40px;
    border-radius: 5px;

    @media (max-width: $mobile_break_point) {
      padding: 22px;
    }
  }

  &_person &__wrap &__content &__label {
    @media (max-width: $mobile_break_point) {
      display: inline-block;
      float: right;
    }
  }

  &_left &__wrap,
  &_card-left &__wrap {
    float: left;
    margin-right: 30px;

    @media (max-width: $mobile_break_point) {
      float: none;
      margin: 0;
    }
  }

  &_right &__wrap,
  &_card-right &__wrap {
    float: right;
    margin-left: 30px;

    @media (max-width: $mobile_break_point) {
      float: none;
      margin: 0;
    }
  }

  &_card-left &__wrap {
    width: 420px;

    @media (max-width: $mobile_break_point) {
      width: auto;
    }
  }

  &_card-right &__wrap {
    width: 380px;

    @media (max-width: $mobile_break_point) {
      width: auto;
    }
  }

  &_left &__wrap {
    width: 540px;

    @media (max-width: $mobile_break_point) {
      width: auto;
    }
  }

  &_right &__wrap {
    width: 540px;

    @media (max-width: $mobile_break_point) {
      width: auto;
    }
  }

  &_left &__content > iframe:not(.instagram-media),
  &_right &__content > iframe:not(.instagram-media) {
    height: 300px;
    width: 540px;

    @media (max-width: $mobile_break_point) {
      width: 100%;
      height: auto;
    }
  }

  &_wide {
    clear: both;

    @media (max-width: $mobile_break_point) {
      padding: 22px;
    }
  }

  &_wide &__wrap {
    padding: 400px 100px 40px;
    text-align: center;

    @media (max-width: $mobile_break_point) {
      width:100%;
      padding: 20px;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 580px;
    overflow: hidden;

    @media (max-width: $mobile_break_point) {
      max-width: 100%;
      overflow: visible;
    }

    h1 {
      margin: 20px 0;
      line-height: 42px;
      font-weight: 400;
      font-size: 40px;

      @media (max-width: $mobile_break_point) {
        margin: 10px 0;
        font-size: 27px;
        line-height: 30px;
      }
    }

    h2 {
      margin: 20px 0;
      line-height: 34px;
      font-weight: 400;
      font-size: 36px;

      @media (max-width: $mobile_break_point) {
        font-size: 32px;
        line-height: 32px;
      }
    }

    h3 {
      margin: 20px 0;
      line-height: 30px;
      font-weight: 400;
      font-size: 32px;
    }

    p {
      margin: 20px 0;
      line-height: 30px;
      font-weight: 400;
      font-size: 23px;

      @media (max-width: $mobile_break_point) {
        margin: 10px 0;
        font-size: 20px;
        line-height: 27px;
      }
    }

    h1 em,
    h2 em,
    h3 em,
    h4 em,
    p em {
      font-family: 'chaparral-pro';
      font-style: normal;
    }

    h1 del,
    h2 del,
    h3 del,
    h4 del,
    p del {
      text-decoration: none;
      color: #85bc49;
    }
  }

  &__img {
    margin-bottom: 40px;

    @media (max-width: $mobile_break_point) {
      margin-bottom: 20px;
    }
  }

  &__label {
    font-weight: 300;
    font-size: 14px;
    opacity: .6;
  }

  &__avatar {
    float: left;
    margin-right: 40px;
    height: 120px;
    width: 120px;

    @media (max-width: $mobile_break_point) {
      width: 60px;
      height: 60px;
      margin-right: 15px;
      margin-bottom: 10px;
    }
  }

  &__name {
    display: block;
    margin-bottom: 20px;
    line-height: 23px;
    font-size: 23px;

    @media (max-width: $mobile_break_point) {
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 2px;
    }
  }

  &__position {
    display: block;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 25px;
    color: #80b744;

    @media (max-width: $mobile_break_point) {
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 5px;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 0 10px 0;
    height: 25px;
    width: 25px;
    background: no-repeat center;
    background-size: 25px 25px;

    & + & {
      margin-left: 5px;
    }

    &_linkedin {
      background-image: url("/img/icon_linkedin.svg");
    }

    &_github {
      background-image: url("/img/icon_github.svg");
    }
  }
}



