@import './_mixin';

@mixin card_width {
  @for $i from 1 through $columns - 1 {
    .card_width-#{$i} .card__wrap {
      max-width: $i * 7.14%;

      @media #{$tablet} {
        min-width: 100%;
      }
    }
  }
}

@mixin card_offset {
  @for $i from 1 through $columns - 1 {
    .card_offset-#{$i} .card__wrap {
      margin-left: $i * 7.14%;

      @media #{$tablet} {
        margin-left: 0;
      }
    }
  }
}

.cards {}

.card {
  margin-bottom: $column_width * 2;
  box-sizing: border-box;

  transition: transform .5s ease-out;
  transform: translateZ(0);

  @media #{$tablet} {
    margin-bottom: $column_width;
  }

  @media #{$mobile} {
    float: none !important;
    clear: both !important;
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: $column_width;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &_in-view {
    transform: translate(0)!important;
  }

  &__wrap {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;

    @media #{$mobile} {
      max-width: 100% !important;
      height: auto;
      margin: 0 auto !important;
    }
  }

  &_left {
    float: left;
    clear: left;
    padding-right: $column_width;
    transform: translate(-50px, 50px);

    @media #{$mobile} {
      transform: none;
    }
  }

  &_left:first-child + &_right {
    margin-top: 190px;
  }

  &_right {
    float: right;  
    clear: right;
    padding-left: $column_width;
    transform: translate(50px, 50px);

    @media #{$mobile} {
      transform: none;
    }
  }

  &_right &__wrap {
     margin-right: auto;
  } 

  &_left,
  &_right {
    width: 50%;
  }

  &_left &__content >.twitter-tweet,
  &_right &__content >.twitter-tweet {
    margin: 0 auto;
  }

  &_left &__content > iframe:not(.instagram-media),
  &_right &__content > iframe:not(.instagram-media) {
    border: none;

    @media (max-width: $mobile_break_point) {
      width: 100%;
    }
  }

  &_wide {
    clear: both;

    @media (max-width: $mobile_break_point) {
      padding: 0px;
    }
  }

  &_wide &__wrap {
    text-align: left;
  }

  &_bg-green &__wrap {
    color: #fff;
    background-color: $green;
  }

  &_border-grey &__wrap {
    border: 5px solid #DDDDDD;
  }

  &_border-green &__wrap {
    border: 5px solid $green;
  }

  &_year {
    width: 100%;
    clear: both;
    margin: 0;
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
  }

  &_overlay &__wrap {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__header {
    &_green {
      color: $green;
    }

    &_black {
      color: #333;
    }
  }

  &__content {
    height: 100%;
    padding: 40px;
    position: relative;
    overflow: hidden;

    @media (max-width: $mobile_break_point) {
      max-width: 100%;
      padding: 20px;
      overflow: visible;
    }

    h1 {
      margin: 5px 0 20px 0;
      line-height: 42px;
      font-weight: 400;
      font-size: 36px;

      @media (max-width: $mobile_break_point) {
        margin: 10px 0;
        font-size: 27px;
        line-height: 30px;
      }
    }

    h2 {
      margin: 10px 0;
      line-height: 34px;
      font-weight: 400;
      font-size: 36px;

      @media (max-width: $mobile_break_point) {
        font-size: 32px;
        line-height: 32px;
      }
    }

    h3 {
      margin: 10px 0;
      line-height: 38px;
      font-weight: 400;
      font-size: 32px;
    }

    p {
      margin: 20px 0;
      line-height: 30px;
      font-weight: 400;
      font-size: 23px;

      @media (max-width: $mobile_break_point) {
        margin: 10px 0;
        font-size: 20px;
        line-height: 27px;
      }
    }

    h1 em,
    h2 em,
    h3 em,
    h4 em,
    p em {
      font-family: 'acumin-pro';
      font-style: normal;
    }

    h1 del,
    h2 del,
    h3 del,
    h4 del,
    p del {
      text-decoration: none;
      color: #85bc49;
    }
  }

  &__img {
    max-width: 100%;
    margin-bottom: 40px;

    @media (max-width: $mobile_break_point) {
      margin-bottom: 20px;
    }
  }

  &__content q {
    font-size: 34px;
    letter-spacing: -0.18px;
    line-height: 40px;
    margin-left: -12px;
  }

  &__person_info {
    position: relative;
    margin-top: 5px;
  }

  &_text-right &_person_info {
    float: right;
    clear: right;

    @media (max-width: $mobile_break_point) {
      float: right;
    }
  }

  &_text-left &_person_info {
    float: left;
    clear: left;

    @media (max-width: $mobile_break_point) {
      float: left !important;
    }
  }

  &__photo {
    display: block;
    width: 100%;
  }
 
  &__label {
    margin-top: 10px;
    font-weight: 300;
    font-size: 11px;
    opacity: .6;
  }

  &__name {
    padding-right: 40px;
    font-size: 18px;
  }

  &__position {
    padding-right: 40px;
    font-size: 16px;
    font-weight: 300;
  }

  &__socials {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  &__overlay-text {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 120px;

    @media #{$responsive} {
      font-size: 8vw;
    }

    @media #{$tablet} {
      font-size: 50px;
    }
  }

  &__text {
    &_approach {
      margin-bottom: 40px!important;
    }
  }

  &__link {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 0 10px 0;
    background: no-repeat center;
    background-size: 25px 25px;

    & + & {
      margin-left: 5px;
    }

    &_linkedin {
      background-image: url("/img/icon_linkedin.svg");
    }
  }

  &__bottom_image {
    display: block;
    width: 100%;
  }

  &__approach {
    margin-top: 20px;
    box-sizing: border-box;
    border: 5px solid #85BC49;

    @media (max-width: $mobile_break_point) {
      display: block;
      clear: both;
      width: auto;
      margin: 10px auto;
    }

    &_header {
      line-height: 38px;
      font-size: 32px;

      &_green {
        margin-bottom: 20px;
        line-height: 38px;
        font-size: 32px;
        color: #85BC49;
      }
    }

    &_paragraph {
      margin: 0 !important;
      padding: 20px 0;
      font-size: 20px !important;
      line-height: 28px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &_e2e {
      margin-bottom: 60px;

      li {
        font-size: 36px;
        letter-spacing: -0.21px;
        line-height: 42px;
      }
    }

    &_values li {
      font-size: 23px;
      line-height: 40px;
    }
  }

  &__specialties {
    float: right;
    margin-top: 30%;
    border: none;

    @media (max-width: $mobile_break_point) {
      float: none;
      margin: 10px auto;;
    }

    &_header {
      padding: 20px 20px 20px 40px;
      background-color: #85BC49;
    }

    &_paragraph {
      margin: 0 !important;
      padding: 20px 20px 20px 40px;
      font-size: 23px;
      line-height: 28px;
      color: #fff;
      word-wrap: break-word;
    }

    &_paragraph:first-child {
      background-color:#85BC49;
    }  
    &_paragraph:nth-child(2) {
      background-color: #7EB346;
    }
    &_paragraph:nth-child(3) {
      background-color: #75A641;
    }
    &_paragraph:nth-child(4) {
      background-color: #6C993C;
    }
    &_paragraph:nth-child(5) {
      background-color: #638C37;
    }
    &_paragraph:nth-child(6) {
      background-color: #5A8032;
    }
    &_paragraph:nth-child(7) {
      background-color: #51732D;
    }
    &_paragraph:nth-child(8) {
      background-color: #486628;
    }
  }

  &_values &__wrap {
    padding-bottom: 400px;
    background-image:url('../img/approach_values.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #222222;
  }

  &_person {
    @media #{$mobile} {
      width: 100%;
      margin-top: 10px;
    }
  }

  &__approach &__content {
    @media #{$mobile} {
      margin: 20px;
    }
  }

  &__address {
    color: #fff;
    font-size: 36px;
    letter-spacing: -0.21px;
    line-height: 42px;

    & + & {
      margin-top: 40px;
    }
  }

  &_follow {
    font-size: 23px;

    &_network {
      display: block;
      font-size: 23px;
    }

    &_link {
      margin-bottom: 24px;
      font-size: 20px;
      word-break: break-all;
      color: #111;
      text-decoration: none;
    }
  }

  &_map {
    margin-top: 50px;
  }

  &_embed-youtube &__content,
  &_embed-facebook &__content,
  &_embed-instagram &__content,
  &_embed-twitter &__content,
  &_embed-coub &__content,
  &_embed-image &__content {
    padding: 0;

    @media (max-width: $mobile_break_point) {
      padding: 0;
    }
  }

  &_heavy &__content {
    @media (max-width: $mobile_break_point) {
      padding: 40px;
    }
  }

  @media (max-width: $responsive_break_point) and (min-width: $mobile_break_point) {
    padding: 2.66vw 0;

    &_left {
      padding-right: 2.66vw;
    }

    &_right {
      padding-left: 2.66vw;
    }

    &__content {
      padding: 2.66vw;
    }

    .card__img {
      margin-bottom: 2.66vw;
    }

    h1 {
      font-size: 2.4vw;
      line-height: 2.8vw;
    }

    h3 {
      font-size: 2.3vw;
      line-height: 2.6vw;
    }

    p {
      font-size: 1.6vw;
      line-height: 2vw;
    }
  }

  &__spinner {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #333;
    margin: 60px auto;

    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }

  @keyframes scaleout {
    0% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
  }
}

.instagram-media,
.facebook_post {
  width: calc(100% - 2px);
  width: 99.375%; 
  width:-webkit-calc(100% - 2px); 
  max-width: 658px; 
  margin: 1px auto; 
  padding: 0; 
  background:#FFF; 
}

@include card_width;
@include card_offset;
