@import './_mixin';

$fade-duration: .4s;

.header {
  padding: 0 120px;
  margin: 200px auto 50px;
  max-width: 1200px;
  font-family: "acumin-pro-wide", "Helvetica Neue", Arial, Helvetica, sans-serif;

  @media (max-width: $responsive_break_point) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile_break_point) {
    padding: 0;
    margin: 117px 7% 40px;
  }

  &__wrap {
    max-width: 1120px;
    opacity: 0;
    transition: $fade-duration ease-out;
  }

  &__nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 20px;
    padding-top: 15px;
    z-index: 1; 
    text-align: center;
    line-height: 23px;
    font-family: "acumin-pro";
    font-size: 20px;
    color: #222;
    background-color: white;
    transform: translate(0, -100%);

    transition: transform $fade-duration ease-out $fade-duration, padding .3s, background-color .3s;

    @media (max-width: $mobile_break_point) {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 5px;
      z-index: 1; 
      transform: translateZ(0);
      text-align: center;
      line-height: 16px;
      font-size: 16px;
      border-bottom:1px solid #EEEEEE;
      background-color: #fff;
    }
  }

  &.shown {
    .header__nav {
      transform: translate(0, 0);
    }

    .header__wrap {
      opacity: 1;
    }
  }

  &__nav-item {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #aaa;
    vertical-align: middle;
    font-family: "acumin-pro-wide";
    font-size: 18px;
    
    @media (max-width: $mobile_break_point) {
      width: 20%;
      padding: 17px 0 10px 0;
      margin: 0;
    }

    & + & {
      margin-left: 50px;

      @media (max-width: $mobile_break_point) {
        margin-left: 0;
      }
    }

    &:hover,
    &_active {
      color: #111;
    }
  }

  &__logo {
    margin-top: 80px;
    display: block;
    margin-bottom: 20px;
    width: 123px;
    height: 50px;

    @media (max-width: $mobile_break_point) {
      display: block;
      float: none;
      margin-top: 25px;
    }
  }

  &__subtitle {
    $font-size: 20;
    $line-height: 45;

    margin: 10px 0 0;
    font-family: AcuminPro-Light;
    color: #7E7E7E;
    letter-spacing: -0.11px;
    font-size: #{$font-size}px;
    line-height: #{$line-height}px;

    @media (max-width: $responsive_break_point) {
      font-size: #{$font-size * 100 / $responsive_width}vw;
      line-height: #{$line-height * 100 / $responsive_width}vw;
    }

    @media (max-width: $mobile_break_point) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
