@import './_mixin';

.marker {
  font-family: "acumin-pro-wide", acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 1px;
  background: #eee;
  z-index: 1;
  padding-top: 60px;

  &__item {
    padding: 0 0 0 10px;
    letter-spacing: .2px;
    font-size: 13px;
    cursor: pointer;
    color: #a6a6a6;
    z-index: 3;
    height: 35px;
    line-height: 35px;
    transition: font-size .2s;
    transform: translateY(0);
    will-change: transform;

    &:hover {
      color: #222;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -2px;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      background: #d8d8d8;
      border-radius: 50%;
      content: "";
      z-index: 10;
    }

    &:hover:before {
      background: #222;
      
      @media (max-width: $mobile_break_point) {
        background: #d8d8d8;
      }
    }

    &_active {
      color: #222;
      z-index: 2;
      font-size: 18px;
  
      &:before {
        background: #222;
      }
    }
  }

  @media (max-width: $ultra_wide_break_point) {
    & {
      left: 40px;
    }

    &__item {
      left: 41px;
    }
  }

  @media (max-width: $responsive_break_point) {
    & {
      left: 20px;
    }

    &__item {
      left: 21px;
    }
  }
}

@media (max-width: $mobile_break_point) {
  .marker {
    left: 4%;
    background: transparent;
    display: flex;
    flex-flow: column;
    justify-content: center;

    &__item {
      margin-top: 0;
      display: block;
      height: 35px;
      width: 0;
      position: relative;
      color: transparent !important;
      transform: none !important;

      &::before {
        left: -22px;
      }
    }
  }
}
