.marker {
  &:before {
    position: fixed;
    height: 100%;
    border-left: 1px solid #D8D8D8;
    list-style: none;
    left: 41px;
    top: 0;
    content: "";
    z-index: 2;
  }

  &__item {
    position: fixed;
    padding: 0 0 0 10px;
    top: 100%;
    left: 42px;
    letter-spacing: .2px;
    font-size: 13px;
    cursor: pointer;
    color: #a6a6a6;
    z-index: 3;

    &:hover {
      color: #222;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -3px;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      background: #d8d8d8;
      border-radius: 50%;
      content: "";
      z-index: 10;
    }

    &:hover:before {
      background: #222;
    }

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        margin-top: -#{210 - ($i - 1) * 35}px;
      }
    }
  }

  &__item_active.marker__item {
    position: absolute;
    margin-top: 0;
    transition: none;
    color: #222;
    z-index: 2;

    &:before {
      background: #222;
    }
  }

  &__item_top {
    top: 270px!important;
    position: fixed!important;
    color: #a6a6a6;

    &:before {
      background: #d8d8d8;
    }
  }

  &__item_top-active {
    color: #222;

    &:before {
      background: #222;
    }
  }
}

$mobile_break_point : 768px;
@media (max-width: $mobile_break_point) {
  .marker {
    display: none;
  }
}
